<!DOCTYPE html>
<html ng-app="myApp">
<head>
<meta charset="utf-8">
	<title>two-way binding</title>
	<script type="text/javascript" src="../libs/angular.js"></script>
  <script type="text/javascript" src="../libs/angular-sanitize.min.js"></script>
	<script type="text/javascript" src="app38.js"></script>
	<link rel="stylesheet" href="main3.css">
</head>
<body>
   <h2>two-way binding</h2>
   <div ng-controller="MainController as main">
     <my-directive2 ></my-directive2>
     <my-directive2 item="firstItem"></my-directive2>
     <my-directive2 item="secondItem"></my-directive2>

     <p>First item price:</p> 
     <p><Input type="text" ng-model="firstItem.price"></p>

     <p>Second item price:</p> 
     <p><Input type="text" ng-model="secondItem.price"></p>
  </div> 
</body>
</html>